<nav>
    <div class="navbar">
        <div class="center">
            <div class="logo">
                <a href="/">LOGO</a>
            </div>
            <ul class="menu">
                <li><a href="">Manage User</a></li>
                <li><a href="">Manage Forum</a></li>
                <li><a href="">Manage Problem</a></li>
                <li class="sp"><a href="/login">Log In</a>|</li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>