<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
</head>
<body>
    <header id="header">
        <a href="" class="logo">LOGO</a>
        <ul>
            <li><a href="#">Manage User</a></li>
            <li><a href="#">Manage Forum</a></li>
            <li><a href="#">Manage Problem</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Register</a></li>
        </ul>
        <div class="toggle"></div>
    </header>
</body>
</html>