<nav class="">
    <h4>ExceptionKMITL</h4>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Log in</a></li>
        <li><a href="">Register</a></li>
    </ul>
</nav>
<div class="container mt-4">
    
</div>