* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

#header-box {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background: #111;
    z-index: 1000;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

#header-box ul li a {
    position: relative;
    padding: 5px 10px;
    color: #fff;
}

#header-box li {
    padding-top: 10px;
}

#header-box .logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    margin-right: 20px;
}